<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <div class="about-content">
      <img class="rounded-circle" width="150px" src="/images/profile.jpeg" alt="Your Name">
      <p>Hello! I'm Manpreet Dhaliwal, a passionate and creative web developer with a love for creating new websites. Welcome to my corner of the web, where I invite you to get to know me a little better. </p>
      <p>I've always been fascinated by the world of web development, and my journey in this field has been nothing short of thrilling. Through this platform, I aim to share not only my professional achievements but also the essence of who I am outside of work. When I'm not immersed in art and craft, I like painting and baking. These experiences enrich my life and, in turn, enhance my creativity.  As you explore my portfolio, you'll gain insight into my skills, my dedication, and my commitment to delivering excellence. </p>
      <p>Thank you for visiting my website. I look forward to connecting with you and sharing more about my journey, my work, and the things that make me who I am.</p>
  </div>
  <a href="resume.pdf" class="btn">Download Resume</a>
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
