<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--Main content of home page-->
<main class="container">
  <div class="jumbotron">
    <h2>Welcome to My Portfolio</h2>
    <p>Embark on a journey through my portfolio, where I invite you to explore a curated collection of my projects and get a glimpse into my professional odyssey.</p>
        <div class="mission">
          <h2>My Purpose and Passion</h2>
          <p>My mission is to craft exceptional software solutions that not only meet functional requirements but also captivate users with their elegance. I'm dedicated to harmonizing form, functionality, and aesthetics in all my endeavors. My passion for design and technology drives me to create digital experiences that not only meet industry standards but also stand out as exemplars of innovation and creativity.

            Each project within this portfolio reflects not just my technical skills but also my commitment to pushing the boundaries of what's possible in the world of software development. Whether it's web applications, mobile apps, or other digital solutions, I approach each challenge with enthusiasm and a relentless pursuit of excellence.
            
            Thank you for visiting my portfolio, and I hope you enjoy exploring my work as much as I've enjoyed creating it.</p>
      </div> 
  </div>
</main>


<!--script section-->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
