<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <h2>Projects</h2>
        <div class="project">
            <h6>Personal Blog</h6>
            <p>As a beginner web developer, I took on the role of both designer and developer to create my personal blog website. I learned the basics of HTML and CSS to structure and style my content. This project allowed me to showcase my interests and share my knowledge with others through blog posts and articles.</p>
        </div>
        <div class="project">
          <h6>Recipe Sharing Site</h6>
            
            <p> I embarked on a personal project to build a recipe sharing app from scratch. Using HTML, CSS, and beginner-level JavaScript, I designed the user interface and implemented features for users to add, view, and search for recipes. This project honed my front-end skills and introduced me to simple interactivity.</p>
        </div>
        <div class="project">
          <h6>Portfolio Website</h6>
          
          <p>As a novice web developer, I created my own portfolio website to showcase the projects and skills I've been learning. I used HTML and CSS to build the site and added a contact form with basic JavaScript functionality. This project not only helped me display my work but also improved my web development abilities.</p>
        </div>
  </div>
</main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
