<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <h2>Services</h2>
        <ul class="service-list">
            <li>
                <h4>Comprehensive Web Development Expertise</h4>
                <p>I possess the skills and expertise to conceptualize, design, and develop fully functional and visually appealing websites from the ground up, crafting engaging user experiences with an emphasis on user interface (UI) and user experience (UX) design. My proficiency extends from wireframing and mockup creation to front-end development, where I bring designs to life with HTML, CSS, and JavaScript. Additionally, I have experience in back-end development and database integration, ensuring seamless functionality and data management for web applications. My holistic approach to web development allows me to transform ideas into digital realities, all while adhering to best practices and the latest industry standards.</p>
            </li>
            <li>
                <h4>Enhancing Web Projects for Excellence</h4>
                <p>I excel at evaluating and enhancing existing web projects, leveraging my keen eye for design and technical acumen to elevate their overall quality and performance. When presented with an existing project, I conduct comprehensive design audits, scrutinizing user interfaces for aesthetics, usability, and alignment with industry trends and best practices. I delve into the codebase, optimizing performance by identifying and resolving bottlenecks, enhancing responsiveness, and ensuring compatibility across various devices and browsers. My ability to refactor code, streamline workflows, and implement cutting-edge technologies allows me to revitalize and modernize web applications, ultimately delivering an improved user experience and higher efficiency.</p>
            </li>
        </ul>
  </div>
</main>
<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
